@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight/OpenSansLight.ttf');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold/OpenSansBold.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold/OpenSansSemibold.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/RobotoBlack/RobotoBlack.ttf');
}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSansExtrabold/OpenSansExtrabold.ttf');
}